@{
    ViewData["Title"] = "Home Page";
}



<div class="card mb-3">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/28/13/29/spices-2548653_960_720.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Common Household Items</h5>
        <p class="card-text">
            Toilet paper. Credit: Getty Images. ...
            Paper towels. Credit: Getty Images. ...
            Laundry detergent. Credit: Reviewed/Jackson Ruckar. ...
            Dishwasher detergent. Credit: Amazon. ...
            Hand soap. Credit: Amazon. ...
            Dish soap. ...
            Disinfectant wipes. ...
            Hand sanitizer..
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">What are household</h5>
        <p class="card-text">
            Household goods are products that we buy and use within our homes. They usually represent all our personal property other than real estate and vehicles. Examples include kitchenware, furniture, clothing, bedding, books, tools, etc..
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img class="card-img-bottom" src="https://cdn.pixabay.com/photo/2017/07/07/18/36/spices-2482278_960_720.jpg" alt="Card image cap">
</div>